* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Rosemartin Custom";
  src: url("Fonts/Rosemartin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  background-size: cover;
  min-height: auto;
  overflow-x: hidden;
  padding-left: 35px;
  padding-right: 35px;
}
.Hero {
  min-height: 100vh;
}

.navbar a,
.social a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.navbar a::after,
.social a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.4s ease, background 0.3s ease;
}
.navbar a:hover::after,
.social a:hover::after,
.navigation a:hover::after {
  width: 100%;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  gap: 20px;
  background: transparent;
  transition: top 0.3s ease, background 0.3s ease;
  z-index: 9999;
}
.navbar.hidden {
  top: -100px;
}
.navbar.scrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled a,
.navbar.scrolled .logo a {
  color: black !important;
}
.navbar.scrolled .sidebar a {
  color: rgb(255, 255, 255) !important;
}
.navbar.scrolled .navigation i {
  color: rgb(0, 0, 0) !important;
}
.navbar.scrolled a::after {
  background: black;
}


.logo {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  gap: 3px;
  flex: 1;
}
.logo a:hover {
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black; 
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  position: relative; 
  color: white;
}

.Profile_Search {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  gap: 15px;
  color: rgb(255, 255, 255);
  flex: 1;
}
.Profile_Search i:hover {
  cursor: pointer;
  color: rgba(255, 254, 254, 0.7);
}


.navbar.scrolled .Profile_Search i {
  color: rgb(255, 255, 255);
}
.navbar.scrolled .Profile_Search i:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-search-bar {
  position: absolute;
  right: 60px;
  top: 46%;
  transform: translateY(-50%);
  background: rgb(255, 255, 255);
  border-radius: 50px;
  height: 38px;
  width: 320px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  clip-path: inset(0 0 0 100%);
  transition: clip-path 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav-search-bar.active {
  clip-path: inset(0 0 0 0);
}
.nav-search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background: transparent;
}
.navbar.scrolled .nav-search-bar {
  background: rgb(255, 255, 255);
}
.navbar.scrolled .nav-search-bar input {
  color: rgb(0, 0, 0);
}
.navbar.scrolled .nav-search-bar .bxr.bx-search-big,
.navbar.scrolled .nav-search-bar i {
  color: white !important;
}
.navbar.scrolled .bxr.bx-search-big {
  color: black !important;
}
.navbar.scrolled .bxr.bx-search-big.is-active {
  color: rgb(0, 0, 0) !important;
}
.bxr.bx-search-big {
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}
.navbar:not(.scrolled) .bxr.bx-search-big.is-active {
  color: rgb(255, 255, 255);
}
.navbar.scrolled .checkmark span {
  background-color: black !important;
}
.bx .bx-user {
  background-color: white;
}
.navbar.scrolled .bx-user {
  color: black !important;
}


.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  background-color: white;
  color: #1f2937;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: none; 
  z-index: 100; 
  min-height: 250px; 
}

.navigation li:hover .dropdown-menu {
  display: block;
}

.menu-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  gap: 30px;
}

.menu-item:hover {
  background-color: #f3f4f6;
}

.menu-item h3 {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: #1f2937; 
}

.menu-item p {
  margin: 4px 0 0 0;
  font-size: 0.7em;
  color: #6b7280;
  line-height: 1.4;
}


.menu-item [class^="icon-"] {
  font-size: 1.5em;
  margin-right: 15px;
  color: #6366f1;
  width: 30px;
  height: 30px;
  background-color: #eef2ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


.navbar.scrolled .dropdown-menu a,
.navbar.scrolled .dropdown-menu a::after,
.navbar.scrolled .dropdown-menu h3,
.navbar.scrolled .dropdown-menu p {
  color: initial !important;
  background: initial !important;
}

.navbar.scrolled .dropdown-menu a::after {
  background: transparent !important; 
}
.burger input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.burger {
  display: none;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
}

.checkmark span {
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.burger input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.burger input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.burger input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}

.sidebar {
  display: block;
  position: fixed; 
  top: 0;
  right: 0; 
  width: 250px; 
  height: 100%;
  background-color: #333; 
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 10; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.sidebar a:hover {
  background-color: #555;
}

.sidebar-submenu {
  display: none;
  flex-direction: column;
  padding-left: 8px;
  margin-top: 8px;
}
.sidebar-item.open > .sidebar-submenu {
  display: flex;
}
.toggle-destination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.sidebar-submenu a {
  color: #fff;
  padding: 6px 0 6px 6px;
}


.burger input:checked ~ .sidebar {
  transform: translateX(0); 
}

.Main_Content {
  top: 0;
  left: 0;
  width: 100%;
  height: 92vh;
  position: relative;
  overflow: hidden;
  align-items: center;
  width: calc(100% + 70px);
  margin-left: -35px;
  margin-right: -35px;
}
.Main_Content video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.Main_Content .darker_bg {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
}

.Main_Content .head_line {
  position: relative;
  top: 35%;
  z-index: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Main_Content .head_line h1 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}
.head_line span {
  font-family: "Rosemartin Custom";
  font-weight: 100;
}
.Main_Content .bottom_head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  top: 88%;
  align-items: center;
  padding: 0 40px;
  font-size: 19px;
  color: white;
}
.social {
  display: flex;
  gap: 25px;
}
.searchWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.search {
  margin-top: 80px;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}
.search h1 {
  font-family: "Rosemartin Custom", sans-serif;
  font-weight: 500;
  margin-left: 150px;
}
.searchInput {
  position: relative;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.searchInput input {
  width: 735px;
  height: 50px;
  padding-left: 50px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  outline: none;
}
.searchIcon {
  position: absolute;
  color: black;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 25px;
}
.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 244);
  width: 120px;
  height: 35px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px; 
  transition: all 0.3s ease-in-out;
}
.searchBtn:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(0.9);
}
#AngkorWat {
  overflow: hidden;
}
.container_Top {
  width: auto;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
}
.header {
  margin-top: 100px;
  position: relative;
  display: flex;
}
.header h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.carousel-container {
  padding-left: 35px;
  padding-right: 35px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-card {
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-card img {
  width: 620px;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}
.carousel-card:hover img {
  transform: scale(1.1);
}
.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.carousel-card:hover .card-overlay {
  transform: translateY(0);
}
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-description {
  font-size: 0.9rem;
  color: #ccc;
}

.subtitle-container {
  padding-left: 35px;
  padding-right: 35px;
  overflow: hidden; 
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(93, 64, 242);
  height: 60px;
  width: calc(100% + 70px);
  margin-left: -35px;
  margin-right: -35px;
}
.subtitle-track {
  display: flex;
  height: 100%;
  gap: 30px;
  align-items: center;
  animation: scrollRight 40s linear infinite;
}
.subtitle-text {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  white-space: nowrap;
  flex-shrink: 0;
  font-family: "Roboto", "Kantumruy Pro", sans-serif;
}
@keyframes scrollRight {
  0% {
  
    transform: translateX(
      calc(-280px - 350px - 320px - 300px - 380px - 260px - 340px - 140px)
    );
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.control-btn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}
.control-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}
.info-section {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}
.info-section p {
  color: #aaa;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.cta-button {
  background: linear-gradient(to right, #4a90e2, #7b68ee);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(123, 104, 238, 0.4);
}
.cta-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(123, 104, 238, 0.6);
}
.carousel-container:hover .carousel-track {
  animation-play-state: paused;
}
.Type-Head h1 {
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
.TypeTrip {
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 20px;
  margin-left: -1px;
  border-radius: 15px;
}

.box {
  display: flex;
  min-height: 400px;
}

.box-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.image-content {
  flex: 2;
  background-image: url("https://res.cloudinary.com/dicrvjstp/image/upload/v1765695439/shutterstock_313599062_muwqhu.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#box-2 {
  background: url("https://res.cloudinary.com/dicrvjstp/image/upload/v1765695675/100087440_3048046511945962_6882267462105038848_n_xzbayh.jpg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#box-3 {
  background: url("https://res.cloudinary.com/dicrvjstp/image/upload/v1765696089/venice_lhjdtz.webp");
  background-size: cover;
  background-position: center;
}

.box-text h1 {
  font-size: 5em;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.explore-btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(60, 72, 248);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.explore-btn:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.Iconic h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  margin-top: 100px;
}
.SeeMore {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-top: 30px;
  gap: 1px;
  transition: all 0.3s ease-in-out;
}
.SeeMore:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.SeeMore img {
  transition: transform 0.3s ease-in-out;
}
.SeeMore:hover img {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}
.seeMoreBtn {
  font-size: 22px;
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.btText {
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
  color: white;
}
.btText p {
  font-size: 20px;
  margin-top: 15px;
}
.footer {
  background: url(https://res.cloudinary.com/dicrvjstp/image/upload/v1765469666/techo-international-airport-cambodia-foster-plus-partners_2_darjpb.jpg)
    no-repeat center center;
  background-size: cover;
  padding: 50px 32px;
  margin-top: 45px;
  width: 1520px;
  margin-left: -35px;
  color: white;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  z-index: 1;
}
.footer-logo {
  display: flex;
  gap: 5px;
  z-index: 1;
  position: relative;
}

.footer-logo a {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  margin-bottom: 24px;
  text-decoration: none;
  color: #ffffff;
}
.footer-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}

.footer-divider-bottom {
  margin-top: 32px;
  margin-bottom: 16px;
  z-index: 1;
  position: relative;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* ⬅ 4 columns */
  gap: 32px;
  color: #ffffff;
  margin-bottom: 160px;
  z-index: 1;
  position: relative;
}

.footer-heading {
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  z-index: 1;
  position: relative;
}

.Cookie_Social {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.Cookie_Social a {
  color: #ffffff;
  transition: color 0.2s;
  text-decoration: none;
  z-index: 1;
  position: relative;
}


@media (max-width: 1440px) {
  .Main_Content .head_line h1 {
    font-size: 2em;
  }
  .searchWrapper {
    display: flex;
    flex-direction: column;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .search h1 {
    font-size: 2rem;
    margin-left: -1px;
  }
  #AngkorWat {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navigation {
    gap: 40px;
    font-size: 18px;
  }
  .Main_Content .head_line h1 {
    font-size: 1.8rem;
  }
  .searchWrapper {
    display: flex;
    flex-direction: column;
  }
  .search h1 {
    font-size: 2rem;
    margin-left: 0;
  }
  .searchInput input {
    width: 520px;
    height: 45px;
    font-size: 15px;
  }
  .sidebar {
    width: 220px;
    padding: 16px;
  }
  .sidebar a {
    padding: 8px 0;
  }
  .checkmark span {
    width: 28px;
    height: 2px;
  }
  .burger {
    font-size: 18px;
  }
  .subtitle-text {
    font-size: 22px;
  }
}

@media (max-width: 1100px) {
  .navigation {
    gap: 35px;
  }
  .Main_Content .head_line h1 {
    font-size: 2em;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .search h1 {
    font-size: 3rem;
    margin-left: -1px;
  }
}
@media (max-width: 800px) {
  .burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  .burger {
    display: block;
  }
  .Main_Content .bottom_head {
    font-size: 16px;
    padding: 0 30px;
  }

  .Main_Content .head_line {
    top: 35%;
    left: 1%;
    position: relative;
  }
  .Main_Content .head_line h1 {
    font-size: 1.5rem;
  }
  .searchInput input {
    width: 650px;
    height: 45px;
    font-size: 16px;
  }
  #AngkorWat {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Main_Content .head_line {
    position: relative;
    top: 35%;
    z-index: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .Main_Content .head_line h1 {
    font-size: 1.5rem;
  }
  .searchWrapper {
    display: flex;
    flex-direction: column;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .search h1 {
    font-size: 2rem;
    margin-left: -1px;
  }
  .searchInput {
    position: relative;
    margin-top: 15px;
    transition: all 0.3s ease;
  }
  .searchInput input {
    width: 425px;
    height: 45px;
    font-size: 14px;
  }
  .searchWrapper #mostRec h1 {
    font-size: 1.6rem;
  }
  #AngkorWat {
    width: 100%;
  }
  .box {
    flex-direction: column;
    min-height: auto;
  }

  .box-text {
    order: 2;
    min-height: 200px;
    padding: 40px 20px;
  }

  .image-content {
    order: 1;
    min-height: 300px;
    flex: none;
    width: 100%;
  }
  .image-content {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
  }
  #box-2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  #box-3 {
    background-position: center;
  }

  .box-text h1 {
    font-size: 3em;
    margin-bottom: 15px;
  }

  .Type-Head h1,
  .Iconic h1 {
    font-size: 2rem;
  }

  .subtitle-text {
    font-size: 1.3rem;
  }
  .Iconic-wrap {
    display: flex;
    flex-direction: column;
  }
  .SeeMore a {
    font-size: 18px;
  }
  .btText h1 {
    font-size: 24px;
  }
  .btText p {
    font-size: 18px;
  }
  .footer {
    padding-left: 80px;
    padding-right: 80px;
  }

  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-copyright {
    white-space: nowrap;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .btText {
    margin-top: 30px;
  }
}
@media (max-width: 450px) {
  .social {
    gap: 15px;
  }
  .btText {
    margin-top: 30px;
  }
  .btText h1 {
    font-size: 18px;
  }
  .btText p {
    font-size: 14px;
  }
  .footer-logo a {
    font-size: 2.7rem;
  }
  .footer-description {
    font-size: 1rem;
  }
  .searchInput input {
    width: 350px;
    height: 40px;
  }
  .searchBtn {
    width: 67px;
    height: 30px;
    font-size: 15px;
    top: 55%;
    background-color: rgb(93, 64, 242);
  }
  #BottomLine {
    display: none;
  }
}
