body {
  margin: 0;
  font-family: sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin-top: 70px;
  margin-left: -35px;
  margin-right: -35px;
  width: calc(100% + 70px);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
}

.top-bar button {
  margin: 0 4px;
}
.top-bar .SearchBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(145, 142, 142);
  flex: 1;
  height: 40px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.SearchBtn input{
  width: 100%;
  font-size: 17px;
  border: none;
}
.SearchBtn input:focus{
  outline: none;
  border: none;
}

.Hotel,
.Food,
.Airports {
  flex: 0;
}
.top-bar .Hotel,
.top-bar .Food,
.top-bar .Airports {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: white;
  height: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
