body {
  margin: 0;
  font-family: sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin-top: 70px;
  margin-left: -35px;
  margin-right: -35px;
  width: calc(100% + 70px);
}

.top-bar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.top-bar button {
  margin: 0 4px;
}
